@import "tailwindcss";

:root {
  --color-primary: #D87D4A;
  --color-primary-light: #FBAF85;
  --color-dark: #101010;
  --color-grey-light: #F1F1F1;
  --color-grey-lighter: #FAFAFA;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.bg-grey-lighter {
  background-color: var(--color-grey-lighter);
}

.text-primary {
  color: var(--color-primary);
}

.text-dark {
  color: var(--color-dark);
}

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
